body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    padding: 20px;
}

.expense-form, .expense-list {
    max-width: 500px;
}

select, input[type="text"], input[type="number"], input[type="month"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para el botón flotante */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2196F3;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fab:hover {
    background-color: #0b7dda;
    transform: scale(1.1);
}

.fab-icon {
    font-size: 36px;
}

.fab-menu {
    position: fixed;
    bottom: 90px;
    right: 20px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 10px;
    justify-items: right;
}

.fab-menu-item {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9em;
}

/* Animaciones */
.fab-menu.open {
    display: flex;
    animation: openMenu 0.3s ease-out;
}

@keyframes openMenu {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

dl {
    margin-bottom: .2rem !important;
}

dt {
    font-size: .9em;
}